.products-container {
    padding: 20px;
    margin-top: 50px;
    background-color: #f9f9f9;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 20px;
}